a{
    font-family:Monaco;
    color:black;
}




.copyright{
    font-size:12px;
    text-align:center;
}
h4{
    font-family:Monaco;
    color:black;
}

body{
background-color: #fff2f2;
}
/*.card-body {*/
/*    min-height: 143px;*/
/*}*/


/*#color a:link, #color a:visited,  #color a:hover, #color a:active {*/
/*  color: black; */
/*}*/

#button{
    color:#505775;
}
#button:hover{
    color:black;
    font-size: 18px;
}