a{
    font-family:Monaco;
    color:black;
}




.copyright{
    font-size:12px;
    text-align:center;
}
h4{
    font-family:Monaco;
    color:black;
}

body{
background-color: #fff2f2;
}
/*.card-body {*/
/*    min-height: 143px;*/
/*}*/


.card-header a:link, .card-header a:visited,  .card-header a:hover, .card-header a:active {
  color: inherit;
  text-decoration:none;
}   
