

.copyright{
    font-size:12px;
    text-align:center;
}
h4{
    font-family:Monaco;
    color:black;
}

body{
/*background-color:#242852;*/
background-color: #fff2f2;
/*background-color: #553D67;*/
/*background-color: #553D67;*/
/*background-color: #553D67;*/
}
/*.card-body {*/
/*    min-height: 143px;*/
/*}*/